h1, h2, h3, h4, h6, p {
  text-align: center;
}

* {
  font-family: Helvetica;
}

h5 {
  background-color: gray;
}

.white, a {
  color: white;
}

a {
  text-decoration: underline;
  font-size: 18px;
}

h3, h4 {
  font-size: 23px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

#copy {
  font-size: 11px;
}

.background {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
